doctype 5
html(lang="en")
    head
        title Janke Family Adventures
        include includes/resources.jade
    body
        div.links.Three-Dee
            div
                a(href='dallasmarathon') Dallas Marathon
            div
                a(href='florida2012') Florida 2012
            div
                a(href='higgins') Higgins
        include includes/footer.jade