doctype 5
html(lang="en")
    head
        title Janke Family Adventures
        link(rel="stylesheet", href="http://reset5.googlecode.com/hg/reset.min.css")
        link(rel="stylesheet", href="/css/main.css")
        link(href="http://fonts.googleapis.com/css?family=Lato:400,700", rel="stylesheet", type="text/css")

    body
        div.links.Three-Dee
            div
                a(href='dallasmarathon') Dallas Marathon
            div
                a(href='florida2012') Florida 2012
            div
                a(href='higgins') Higgins