body { 
    background-color: #111; 
    background-image: url('../imgs/dark_Tire.png');
}

.images {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.image {
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
}

.image img { 
    max-width: 100%;
    height: auto;
}

.fadebg {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}